<mat-toolbar class="title-toolbar">
  <mat-toolbar-row>
    <span class="title-center">GeeksShop</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu" style="width: 300px">
      <div style="margin: 0 26px;">Cart Items</div>

      <div *ngIf="cart.length === 0" style="margin: 0 26px; border: 1px solid black; padding: 10px;">No Items Selected</div>
      <table *ngIf="cart.length > 0" style="margin: 0 26px; border: 1px solid black; padding: 10px;">
        <tr>
          <th>Item</th>
          <th>Amount</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let cartItem of cart" >
          <td>
            {{cartItem.item.name}}
          </td>
          <td>{{cartItem.amount}}</td>
          <td>{{cartItem.item.price * cartItem.amount}}</td>
          <td><button mat-mini-fab class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu" (click)="removeItem(cartItem.item.id)">
            <mat-icon>remove</mat-icon>
          </button></td>
        </tr>
        <tr>
          <td >total</td>
          <td></td>
          <td>{{total}}</td>
        </tr>
      </table>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="products">
  <mat-card class="example-card as-card-cat-1 as-card-style-1" *ngFor="let item of items">
    <mat-card-header>
      <ng-container [ngSwitch]="item.type">
        <div mat-card-avatar *ngSwitchCase="'Water Bottle'" style="background-color: purple;" class="example-header-image"></div>
        <div mat-card-avatar *ngSwitchCase="'Phone'" style="background-color: red;"></div>
        <div mat-card-avatar *ngSwitchCase="'CopyBook'" style="background-color: green;"></div>
      </ng-container>

      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="width: 100px; align-self: center;" [src]="item.picture" alt="Photo of {{item.name}}">
    <mat-card-actions class="as-actions" align="end">
      <mat-form-field class="as-qty">
        <mat-label>Select qty</mat-label>
        <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button mat-stroked-button color="primary" (click)="addClick(item)">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
