.products {
  display: flex;
  flex-wrap: wrap;
}
.example-card {
  max-width: 30%;
  margin: 5px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}

.as-card-cat-1 .example-header-image {
  background-color: purple;
}

.as-card-cat-2 .example-header-image {
  background-color: orange;
}

.as-cards {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
  grid-row-gap: 16px;
}
.as-actions > * {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.as-qty .mat-form-field {
  margin: 0 8px;
}

.as-qty .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.as-qty .mat-form-field-infix {
  width: 80px;
}

.as-qty .mat-form-field-underline {
  bottom: 0;
}

.as-qty.mat-slider-horizontal {
  min-width: auto;
  width: 100%;
}

.as-toggle-free.mat-slide-toggle {
  height: 100%;
  margin-top: 10px;
}

.as-toggle-free .mat-slide-toggle-label {
  flex-direction: column;
}

.as-toggle-free .mat-slide-toggle-content {
  font-size: 12px;
}

.mat-list-base .mat-list-item .mat-list-avatar {
  height: 150px !important;
  width: auto !important;
  border-radius: 0% !important;
}

.mat-list .mat-list-item {
  height: auto !important;
}

.input-group {
  margin-right: 1em;
  flex-wrap: nowrap;
}

.btn-toolbar button:first-child {
  margin-right: 1em;
}

.item-description {
  white-space: normal !important;
}

.quantity-input {
  padding-right: 1em;
}

.quantity-button {
  padding: 0 !important;
  min-width: unset !important;
  width: 35px !important;
}

.mat-list-avatar {
  align-self: start;
}

button:focus {
  outline: none;
}
