<div class="products">
  <mat-card class="example-card as-card-cat-1 as-card-style-1" *ngFor="let item of products">
    <mat-card-header>
      <ng-container [ngSwitch]="item.type">
        <div mat-card-avatar *ngSwitchCase="'Water Bottle'" style="background-color: purple;" class="example-header-image"></div>
        <div mat-card-avatar *ngSwitchCase="'Phone'" style="background-color: red;"></div>
        <div mat-card-avatar *ngSwitchCase="'CopyBook'" style="background-color: green;"></div>
      </ng-container>

      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="width: 100px; align-self: center;" [src]="item.picture" alt="Photo of {{item.name}}">
    <mat-card-actions class="as-actions" align="end">
      <mat-form-field class="as-qty">
        <mat-label>Select qty</mat-label>
        <mat-select value="1">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button mat-stroked-button color="primary" (click)="addClick(item)">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
